<style>
    .footer{
        background-color: #6495ed;
        text-align: center;
        font-size: 150%;
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 60px;
    }

</style>
<div class = "footer">
    <p>Pushkin Maxim B18-505 - Copyright © 2020</p>
</div>