<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <title>{{tittle}}</title>
    <meta charset="utf-8" />
</head>
<style>
    .content{
        text-align: center;
        margin-top: 17%;
        background-color: #6495ed;
        font-size: 300%
    }
</style>
<body>
{{>menu}}

<div class="content">
    <form method="get" action={{action}}>
    {{#each parameters}}
    <input type = "text" name={{this}}  placeholder="Input {{this}}" />
    {{/each}}
    <input type = "submit">
    </form>
</div>

{{>footer}}
</body>
<html>